body {
    font-family: Arial, sans-serif;
    background-color: #0d1b2a;
    color: #fff;
    margin: 0;
    padding: 0;
}

.qualifications {
    padding-left:30vw;
    padding-top:10vh;
    padding-bottom: 10vw;
}

.academicsh1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color:bisque;
    margin-bottom: 30px;
    border-bottom: 3px solid bisque;
    display: inline-block;
    padding-bottom: 10px;
}

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 1.5rem 0;
    max-width: 600px;
    border-left: 3px solid bisque;
    color:bisque
}

.entry {
    padding-left: 20px;
    position: relative;
    margin-bottom: 30px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.entry .date {
    color:bisque;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.entry .details h2 {
    font-size: 30px;
    margin: 0 0 10px;
    font-weight: 400;
    color: #fff;
}

.entry .details p {
    font-size: 16px;
    color: #e0e0e0;
}

.entry::before {
    content: "";
    position: absolute;
    left: -13px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: bisque;
    border-radius: 50%;
}
